[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=rfm12-ASK-QML
Exec=/opt/bin/rfm12-ASK-QML
Icon=rfm12-ASK-QML
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
